@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@plugin "daisyui";
:root {
  font-family: Nunito, Avenir, Helvetica, Arial, sans-serif;

  /* background-color: #431259; */
  /* 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

legend {
  color: black;
}

main {
  color: black;
  width: 100vw;
  min-height: 100dvh;
}
